{% extends "base.html" %}
{% load static %}

{% block title %}Registrace zákazníka – AutoPůjčovna{% endblock %}

  <link rel="stylesheet" href="{% static 'css/styleregister.css' %}">

{% block content %}
  <h2 class="register-page-title">Registrace nového zákazníka</h2>

  {% if messages %}
    <ul class="register-messages">
      {% for msg in messages %}
        <li class="register-message-item">{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post" class="register-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="register-button">Registrovat zákazníka</button>
  </form>

  <p><a class="register-button-secondary" href="{% url 'index' %}">Zpět na úvod</a></p>
{% endblock %}
